<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Quiz: El juego de las preguntas</h1>
    <a href="/quizes/question">Ir a pregunta</a>
  </body>
</html>
