<label for="preg" class="rem">Pregunta:&nbsp;&nbsp;</label>
<input type="text" id="preg" name="quiz[pregunta]" size="25" value="<%=quiz.pregunta%>" placeholder="Introduzca la pregunta"/>
<p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" size="25" value="<%=quiz.respuesta%>" placeholder="Introduzca la respuesta"/>
</p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar">