<!DOCTYPE html>
<html lang="es">
  <head>
    <title>El juego de las preguntas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Quiz: El juego de las preguntas</h1>
    <h2>Respuesta <%= respuesta %> </h2>
    <a href="/quizes/question">Vuelva a intentarlo</a>
  </body>
</html>