
<form method="get" action="/quizes">
	<div align="center">

		Encuentre sus preguntas: 
		<input type="text" size=25 placeholder="Introduzca texto aquí" name="search" id="search"/>

		<input type="submit" value="Buscar"/>
	</div>

</form>

<br>


<table border=0>
<% for(var i=0;i<quizes.length;i++){ %>
	<tr>
		<td><a href="/quizes/<%=quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
	</tr>

<%	
}
%>


</table>